.container {
  width: 22rem;
  margin: 0 auto;
  padding: 1rem;

  @media (max-width: 22rem) {
    width: 100%;
  }

  &--animate {
    animation: shake 0.2s ease;
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  35% {
    transform: translateX(-2%);
  }

  70% {
    transform: translateX(2%);
  }

  100% {
    transform: translateX(0);
  }
}
